<!-- This is an example or creating a bootstrap form, the class name is coming form bootstrap  -->
<%= form_for @post do |f| %>
<div class='form-group'>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<% end %>
